/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&lang=en");

 @import 'bootstrap/scss/bootstrap';
 @import 'bootstrap_overrides';

.small {
  font-size: .75em
}

.smaller {
  font-size: .5em
}

.text-shadow {
  text-shadow: .1em .1em .1em rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.text-white {
  color: rgb(248, 248, 248);
}

.background-primary {
  background-color: #7ADDD4
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
