<div class="text-center pt-5">
  <h2>
    Welcome to Peratto
  </h2>

  <blockquote class="blockquote">
    <p class="mb-0">Perrato 「ぺらっと」 is Japanese Onomatopoeia for "flipping", and can also mean "fluently".</p>
    <footer class="blockquote-footer">flip flip flip</footer>
  </blockquote>

  <a class="btn btn-outline-primary btn-lg my-2" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg my-2" href="/signup" role="button">Sign Up</a>
</div>
